/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* common utilities */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.section-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 10px 0;
}
.btn{
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    text-decoration: none;
    transition: .5s;
    border: 0;
}
.btn:hover{
    border-radius: 8px;
    background: #727272;
    color: #FF900E;
    cursor: pointer;
}

/* header styles */
/* navbar styles */
.header{
    background: rgba(255, 144, 14, 0.1);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 240px 0 228px;
}
nav ul{
    display: flex;
    gap: 30px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    text-decoration: none;
    transition: .5s;
}
nav ul li a:hover{
    color: #FF900E;
}

/* banner area styles */
.banner{
    text-align: center;
    padding-top: 133px;
}
.banner-title{
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 20px;
}
.banner-img{
    height: 700px;
   margin-top: 16px;
}
.banner-img img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

/* main styles */
/* quick list section styles */
.quick-list{
    display: flex;
    align-items: center;
    gap: 70px;
    margin-top: 62px;
}
.quick-list-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap:  24px; 
    grid-row-gap: 24px;
}
.quick-list-title{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
    padding-bottom: 30px;
}
.black-text{
    color: #131313;
    font-weight: 700;
}
.orange-text{
    font-weight: 700;
    color: #FF900E;
}
.quick-btn{
    margin-top: 30px;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 24px;
}

/* feature section styles */
.feature{
    margin-top: 133px;
    display: flex;
    gap: 140px;
    align-items: center;
}
.border-left{
    border-left: 2px solid #FF900E;
    padding-left: 20px;
}
.feature-card{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin: 20px 0;
    padding: 30px;
}
.feature-card-title{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}
.feature-image{
    width: 100%;
    height: 100%;
}
.feature-image img{
    width: 500px;
    height: 760px;
}
.feature-btn{
    position: relative;
    bottom: 100px;
    right: 80px;
    padding: 38px 40px;
    font-weight: 500;
    font-size: 25px;
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    border: 0;
}
.feature-btn span{
    font-weight: 700;
    font-size: 65px;
}

/* facts section styles */
.facts{  
    margin-top: 75px; 
}
.fact-items{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.fact-item{
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px 36px;
    transition: 2s transform ease;
}
.fact-item:hover{
    transform: scale(.60);
    cursor: pointer;
}
.fact-item h4{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
} 
.fact-item h5{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
} 

/* sponsor section styles */
.sponsor{
    text-align: center;
    margin-top: 170px;
}
.sponsors-img{
    display: flex;
    gap: 80px;
    margin-top: 80px;
    margin-bottom: 130px;
}

/* project section styles */
.project{
    text-align: center;
}
.project-items{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3,2fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}
.project-item{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 30px;
    border-radius: 8px;
    background-color: #727272;
    animation-name: animate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes animate{
    0%   {background-color: #f5bf82;}
    25%  {background-color: #8be2f3;}
    50%  {background-color: #ebbaf6}
    75%  {background-color: #8ae9a7}
    100% {background-color: #FFF4E7;}
}
.project-item img{
    width: 100%;
    border-radius: 8px;
}
.project-item h4{
    font-size: 28px;
    margin: 20px 0;
    color: #FF900E;
}
.project-item h5{
    font-size: 22px;
    color: #26252E;
}
.project-btn{
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    padding: 14px 16px;
}

/* footer styles */
.footer{
    background: #FFF4E7;
    border-radius: 8px;
    padding: 30px 100px;
    margin: 100px 280px 170px;
}
.footer-text{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #424242;
}
